.oldPrice {
  color: gold;
  font-size: 14px;
  text-decoration: line-through;
}

.title {
  margin-bottom: 25px;
  font-size: 18px;
}

.price {
  font-size: 18px;
  color: gold;
  font-weight: bold;
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80%;
  width: 100%;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 100%;
}